// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://niri-wm.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://niri-wm.github.io/niri/Configuration:-Input

include "./cfg/environment.kdl"
include "./cfg/input.kdl"
include "./cfg/display.kdl"
include "./cfg/layout.kdl"
include "./cfg/autostart.kdl"
include "./cfg/misc.kdl"
include "./cfg/animation.kdl"
include "./cfg/rules.kdl"
include "./cfg/keybinds.kdl"
